In [108]:
#import libraries
import pandas as pd

In [109]:
#read the data adult.csv
with open("adult.csv", "r") as csv_file:
    adult_data = pd.read_csv(csv_file, delimiter = ",")

In [110]:
#quick check of your data
#Printing first few lines to check
print(adult_data.head())

#number of non-header rows in data for personal reference:
data_length = adult_data.shape[0]-1
print(f"The number of non-header data entries is: {data_length}")

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K
The number of non-header data entries is: 32560

In [111]:
#How many males and females are represented in this dataset

#Gender will occur once per line, so we could do a simple count.

adult_data['sex'].value_counts()
#If "male" is directly counted, it will include all values.

Male      21790
Female    10771
Name: sex, dtype: int64

In [112]:
#What is the average age of women

# adult_data.loc[adult_data['sex']=='Female', 'age'].mean()

adult_data[(adult_data['sex']=='Male') * (adult_data['marital-status'] == 'Never-married')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [113]:
#How many are male and never-married

filtered_data = adult_data[(adult_data['sex'] == 'Male') * (adult_data['marital-status']=='Never-married')]

filtered_data.shape[0]

5916

In [114]:
#What is the proportion of Cuban citizens (native-country feature) in the dataset?
(adult_data['native-country']=='Cuba').sum()/adult_data.shape[0]

0.0029176008107859096

In [115]:
#What are mean value and standard deviation of the age of those who recieve more than 50K per year (salary feature)
adult_data.loc[adult_data['salary']=='>50K', 'age'].mean()

44.24984058155847

In [116]:
#Is it true that people who receive more than 50k have at least Master's education?
adult_data.loc[adult_data['salary']=='>50K', 'education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [117]:
#Display statistics of age for each race (race feature) and each gender. Use groupby() and describe(). 
for (race,sex), sub_df in adult_data.groupby(['race', 'sex']):
    # print(race,sex)
    print(f"Race: {race}, Sex: {sex}")
    print(sub_df.describe())

Race: Amer-Indian-Eskimo, Sex: Female
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  119.000000     119.000000     119.000000    119.000000    119.000000
mean    37.117647  112950.731092       9.697479    544.605042     14.462185
std     13.114991   93207.974077       2.334540   2451.591587    157.763811
min     17.000000   12285.000000       2.000000      0.000000      0.000000
25%     27.000000   31387.000000       9.000000      0.000000      0.000000
50%     36.000000   87950.000000      10.000000      0.000000      0.000000
75%     46.000000  163027.500000      11.000000      0.000000      0.000000
max     80.000000  445168.000000      16.000000  15024.000000   1721.000000

       hours-per-week
count      119.000000
mean        36.579832
std         11.046509
min          4.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         84.000000
Race: Amer-Indian-Eskimo, Sex: Male
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  192.000000     192.000000     192.000000    192.000000    192.000000
mean    37.208333  125715.364583       9.072917    675.260417     46.395833
std     12.049563   85063.251595       2.268587   2929.745443    286.562584
min     17.000000   13769.000000       2.000000      0.000000      0.000000
25%     28.000000   48197.750000       9.000000      0.000000      0.000000
50%     35.000000  113091.000000       9.000000      0.000000      0.000000
75%     45.000000  182656.000000      10.000000      0.000000      0.000000
max     82.000000  356015.000000      16.000000  27828.000000   1980.000000

       hours-per-week
count      192.000000
mean        42.197917
std         11.596280
min          3.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         84.000000
Race: Asian-Pac-Islander, Sex: Female
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  346.000000     346.000000     346.000000    346.000000    346.000000
mean    35.089595  147452.075145      10.390173    778.436416     50.852601
std     12.300845   76401.627757       2.796647   7675.228631    296.529225
min     17.000000   19914.000000       1.000000      0.000000      0.000000
25%     25.000000   86879.250000       9.000000      0.000000      0.000000
50%     33.000000  131986.000000      10.000000      0.000000      0.000000
75%     43.750000  175705.750000      13.000000      0.000000      0.000000
max     75.000000  379046.000000      15.000000  99999.000000   2258.000000

       hours-per-week
count      346.000000
mean        37.439306
std         12.479459
min          1.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         99.000000
Race: Asian-Pac-Islander, Sex: Male
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  693.000000     693.000000     693.000000    693.000000    693.000000
mean    39.073593  166175.865801      11.245310   1827.813853    120.373737
std     12.883944   88552.952600       2.777463  10947.525528    472.917697
min     18.000000   14878.000000       1.000000      0.000000      0.000000
25%     29.000000   98350.000000       9.000000      0.000000      0.000000
50%     37.000000  147719.000000      11.000000      0.000000      0.000000
75%     46.000000  200117.000000      13.000000      0.000000      0.000000
max     90.000000  506329.000000      16.000000  99999.000000   2457.000000

       hours-per-week
count      693.000000
mean        41.468975
std         12.387563
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Race: Black, Sex: Female
               age         fnlwgt  education-num  capital-gain  capital-loss  \
count  1555.000000    1555.000000    1555.000000   1555.000000   1555.000000
mean     37.854019  212971.387781       9.549839    516.593569     45.450804
std      12.637197  109971.263983       2.207815   5312.749129    299.099591
min      17.000000   19752.000000       1.000000      0.000000      0.000000
25%      28.000000  142666.500000       9.000000      0.000000      0.000000
50%      37.000000  193553.000000       9.000000      0.000000      0.000000
75%      46.000000  253759.000000      10.000000      0.000000      0.000000
max      90.000000  930948.000000      16.000000  99999.000000   4356.000000

       hours-per-week
count     1555.000000
mean        36.834084
std          9.419960
min          2.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         99.000000
Race: Black, Sex: Male
               age        fnlwgt  education-num  capital-gain  capital-loss  \
count  1569.000000  1.569000e+03    1569.000000   1569.000000   1569.000000
mean     37.682600  2.429206e+05       9.423199    702.454430     75.186106
std      12.882612  1.341460e+05       2.382841   4962.113183    370.976546
min      17.000000  2.185600e+04       1.000000      0.000000      0.000000
25%      27.000000  1.564100e+05       9.000000      0.000000      0.000000
50%      36.000000  2.211960e+05       9.000000      0.000000      0.000000
75%      46.000000  2.986010e+05      10.000000      0.000000      0.000000
max      90.000000  1.268339e+06      16.000000  99999.000000   2824.000000

       hours-per-week
count     1569.000000
mean        39.997451
std         10.909413
min          1.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         99.000000
Race: Other, Sex: Female
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  109.000000     109.000000     109.000000    109.000000    109.000000
mean    31.678899  172519.642202       8.899083    254.669725     36.284404
std     11.631599   77766.666801       3.027482   1317.326460    231.796929
min     17.000000   24562.000000       2.000000      0.000000      0.000000
25%     23.000000  119890.000000       7.000000      0.000000      0.000000
50%     29.000000  171199.000000       9.000000      0.000000      0.000000
75%     39.000000  219441.000000      10.000000      0.000000      0.000000
max     74.000000  388741.000000      14.000000   7688.000000   1740.000000

       hours-per-week
count      109.000000
mean        35.926606
std         10.300761
min          6.000000
25%         30.000000
50%         40.000000
75%         40.000000
max         65.000000
Race: Other, Sex: Male
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  162.000000     162.000000     162.000000    162.000000    162.000000
mean    34.654321  213679.104938       8.802469   1392.185185     77.746914
std     11.355531   92187.362738       3.361897  11093.711595    370.986720
min     17.000000   25610.000000       1.000000      0.000000      0.000000
25%     26.000000  150726.750000       8.000000      0.000000      0.000000
50%     32.000000  208516.500000       9.000000      0.000000      0.000000
75%     42.000000  253334.750000      10.000000      0.000000      0.000000
max     77.000000  481175.000000      16.000000  99999.000000   2179.000000

       hours-per-week
count      162.000000
mean        41.851852
std         11.084779
min          5.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         98.000000
Race: White, Sex: Female
               age        fnlwgt  education-num  capital-gain  capital-loss  \
count  8642.000000  8.642000e+03    8642.000000   8642.000000   8642.000000
mean     36.811618  1.835500e+05      10.127980    573.610391     65.390535
std      14.329093  1.017103e+05       2.368115   4763.131649    352.330817
min      17.000000  1.939500e+04       1.000000      0.000000      0.000000
25%      25.000000  1.159148e+05       9.000000      0.000000      0.000000
50%      35.000000  1.758105e+05      10.000000      0.000000      0.000000
75%      46.000000  2.248365e+05      12.000000      0.000000      0.000000
max      90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count     8642.000000
mean        36.296691
std         12.190951
min          1.000000
25%         30.000000
50%         40.000000
75%         40.000000
max         99.000000
Race: White, Sex: Male
                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  19174.000000  1.917400e+04   19174.000000  19174.000000  19174.000000
mean      39.652498  1.889874e+05      10.138521   1368.674455    102.261343
std       13.436029  1.037146e+05       2.656464   8442.830669    434.156936
min       17.000000  1.882700e+04       1.000000      0.000000      0.000000
25%       29.000000  1.173810e+05       9.000000      0.000000      0.000000
50%       38.000000  1.786625e+05      10.000000      0.000000      0.000000
75%       49.000000  2.368588e+05      13.000000      0.000000      0.000000
max       90.000000  1.455435e+06      16.000000  99999.000000   3770.000000

       hours-per-week
count    19174.000000
mean        42.668822
std         12.194633
min          1.000000
25%         40.000000
50%         40.000000
75%         50.000000
max         99.000000

In [118]:
#List all records that have a 'C' in the native-country


adult_data[adult_data['native-country'].apply(lambda country: 'C' in country)]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
81,52,Private,276515,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Cuba,<=50K
112,56,Self-emp-not-inc,335605,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1887,50,Canada,>50K
228,75,Private,314209,Assoc-voc,11,Widowed,Adm-clerical,Not-in-family,White,Female,0,0,20,Columbia,<=50K
255,42,Self-emp-not-inc,303044,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,Asian-Pac-Islander,Male,0,0,40,Cambodia,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32112,32,Self-emp-inc,209691,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,Canada,<=50K
32115,29,Private,119359,HS-grad,9,Married-civ-spouse,Prof-specialty,Wife,Asian-Pac-Islander,Female,0,0,10,China,>50K
32129,48,Private,350440,Some-college,10,Married-civ-spouse,Craft-repair,Other-relative,Asian-Pac-Islander,Male,0,0,40,Cambodia,>50K
32204,23,Local-gov,162551,Bachelors,13,Never-married,Prof-specialty,Own-child,Asian-Pac-Islander,Female,0,0,35,China,<=50K
32299,49,Private,242987,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Columbia,<=50K

In [119]:
#Replace values in a column - 'working-class' with new category labels.#Replace anyone with "State-gov" with "Government" and anyone with "Self-emp-not-inc" as "Private" and "Private" as "Private"
#.map()
#first specify dictionary
newVal = {"State-gov":"Government", "Private": "Private", "Self-emp-not-inc": "Private"}
adult_data['workclass'] = adult_data['workclass'].map(newVal)
adult_data.head(25)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,Government,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Private,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Private,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,Government,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Private,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Private,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,NaN,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K